.info-title #{name}
.info-date.info-section Date:
  span.info-value #{day}
.info-branch.info-section Branch:
  span.info-value #{branch}
.info-datasets.info-section Number of Runs:
  span.info-value #{ranDatasets}
.info-datasets.info-section Median RMSE Euclidean Distance
  span.info-value #{totalMedian} m
.info-section Results (Success / Bad / Fail):
  span.info-value #{numSuccess} / #{numBad} / #{numFail}
.status-bar-widget
