.info-title Trackerdash Testing Peformance
.info-branch Current Branch: #{branch}
.info-datasets Ran on #{ranDatasets} of #{totalDatasets} datasets
.info-tracks With total distance #{ranTracks} of #{totalTracks}
.status-bar-widget
