.info-title Ground Truth Peformance for #{day}
.info-branch.info-section Current Branch: #{branch}
.info-datasets.info-section Number of Data Sets: #{ranDatasets} of #{totalDatasets}
.info-tracks.info-section Total Trajectory Length: #{ranDistance} of #{totalDistance}
.info-section
  span.info-success.info-subsection Success: #{numSuccess}
  span.info-bad.info-subsection Bad: #{numBad}
  span.info-fail.info-subsection Fail: #{numFail}
.status-bar-widget
