.info-title Trackerdash Testing Peformance for #{day}
.info-branch.info-section Current Branch: #{branch}
.info-datasets.info-section Ran on #{ranDatasets} of #{totalDatasets} datasets
.info-tracks.info-section With total distance #{ranDistance} of #{totalDistance}
.info-section
  span.info-success.info-subsection Success: #{numSuccess}
  span.info-bad.info-subsection Bad: #{numBad}
  span.info-fail.info-subsection Fail: #{numFail}
.status-bar-widget
