.info-title #{name}
.info-date.info-section Date:
  span.info-value #{day}
.info-branch.info-section Branch:
  span.info-value #{branch}
.info-datasets.info-section Number of Data Sets:
  span.info-value #{ranDatasets} of #{totalDatasets}
.info-section Results (Success / Bad / Fail):
  span.info-value #{numSuccess} / #{numBad} / #{numFail}
.status-bar-widget
