table.table.table-responsive.table-compact
  thead.result-labels
    th(colspan="2")
      .agg-label-header
        | Aggregate Metric
    if sparklinesExist
      th
        .agg-sparkline-header
          | Last 7 Days
    th(colspan="2")
      .agg-bullet-header
        | Computed Value
  tbody
  each aggTrend in aggTrends
    - var idSelector = aggTrend.id_selector
    tr.info-section-chart(id="#{idSelector}-aggregate-container")
      td.agg-status-dot
        svg.statusDot
            circle.none(id="#{idSelector}-aggregate-dot" r="10", cx="10", cy="10")
      td
        .agg-label
          | #{aggTrend.display_name}
      if sparklinesExist && aggTrend.history.length > 1
        td
          .agg-sparkline(id="#{idSelector}-aggregate-sparkline")
            svg
      td
        .agg-value
          | #{Math.round(aggTrend.history[aggTrend.history.length-1] * 10000) / 10000}
      td
        .agg-bullet(id="#{idSelector}-aggregate-bullet")
          svg(id="#{idSelector}-aggregate-bullet-svg")
