table.table.table-responsive.table-compact
  thead.result-labels
    th(colspan="2")
      .agg-label-header
        | Algorithm
    th
      .agg-sparkline-header
        | Last 7 Days
    th(colspan="2")
      .agg-bullet-header
        | #{aggregate_metric_name}
  tbody
  each algorithm in algorithms
    tr.info-section-chart(id="#{algorithm}-aggregate-container")
      td
        svg.statusDot
          circle.none(r="10", cx="10", cy="10")
      td
        .agg-label
          | #{algorithm}
      td
        .agg-sparkline(id="#{algorithm}-aggregate-sparkline")
          svg
      td
        .agg-value
          | #{aggTrends[algorithm][aggTrends[algorithm].length-1]}
      td
        .agg-bullet(id="#{algorithm}-aggregate-bullet")
          svg
