table.table.table-striped.table-hover.table-bordered
  thead.result-labels
    td Data Set
    each algorithm in algorithms
      td
        abbr(title="#{algorithm.name}") #{algorithm.abbreviation}
    td Trajectory Length
  tbody
    each resultSet in resultsByDatasetId
      tr
        td.dataset-name(id="#{resultSet[0].id}-name")
          if typeof(datasetMap[resultSet[0].dataset]) === 'string'
            a(href="#{datasetMap[resultSet[0].dataset]}") #{resultSet[0].dataset}
          else if typeof(datasetMap[resultSet[0].dataset]) === 'function'
            a(href="javascript:;", id="#{resultSet[0].id}-link") #{resultSet[0].dataset}
          else
            | #{resultSet[0].dataset}
          if typeof(datasetLabelMap[resultSet[0].id]) === 'string'
            .dataset-label(id="#{resultSet[0].id}-label")
              | #{datasetLabelMap[resultSet[0].id]}
        each algorithm in algorithms
          td.bullet-container(id="#{resultSet[0].id}-#{algorithm.abbreviation.toLowerCase()}")
            svg.statusDot
              circle.none(r="7", cx="7", cy="7")
            svg.bullet
        td.trajectory(id="#{resultSet[0].id}-length")
            if typeof(trajectoryMap[resultSet[0].dataset]) === 'string'
              a(href="#{trajectoryMap[resultSet[0].dataset]}") #{resultSet[0].length.toFixed(2)}
            else if typeof(trajectoryMap[resultSet[0].dataset]) === 'function'
              a(href="javascript:;", id="#{resultSet[0].id}-trajectory-link") #{resultSet[0].length.toFixed(2)}
            else
              | #{resultSet[0].length}
