#key-metrics-title
  if producerLink
    a(href=producerLink) Key Metrics
  else
    | Key Metrics

table.table.table-striped.table-hover.table-responsive.table-compact
  thead.result-labels
    td Data Set
    each trend in trends
      td
        abbr(title="#{trend.title}") #{trend.display_name}
  tbody
    each resultSet in resultsByDatasetId
      tr
        td.dataset-name(id="#{resultSet[0].id}-name")
          if typeof(datasetMap[resultSet[0].dataset]) === 'string'
            a(href="#{datasetMap[resultSet[0].dataset]}") #{resultSet[0].dataset}
          else if typeof(datasetMap[resultSet[0].dataset]) === 'function'
            a(href="javascript:;", id="#{resultSet[0].id}-link") #{resultSet[0].dataset}
          else
            | #{resultSet[0].dataset}
          if typeof(datasetLabelMap[resultSet[0].id]) === 'string'
            .dataset-label(id="#{resultSet[0].id}-label")
              | #{datasetLabelMap[resultSet[0].id]}
        each trend in trends
          td.bullet-container(id="#{resultSet[0].id}-#{trend.id_selector}")
            svg.statusDot
              circle.none(r="10", cx="10", cy="10")
            .bullet(id="#{resultSet[0].id}-#{trend.id_selector}-bullet")
              svg(id="#{resultSet[0].id}-#{trend.id_selector}-bullet-svg")
