table.table.table-striped.table-hover.table-bordered
  thead.result-labels
    td Data Set
    td
      abbr(title="Visual-Inertial Odometry") ALGA
    td
      abbr(title="ALGB") SM
    td
      abbr(title="Bundle Adjustment") BA
    td Trajectory Length
  tbody
    each resultSet in resultsByDatasetId
      tr
        td(id="#{resultSet[0].id}-name")
          if typeof(datasetMap[resultSet[0].dataset]) === 'string'
            a(href="#{datasetMap[resultSet[0].dataset]}") #{resultSet[0].dataset}
          else if typeof(datasetMap[resultSet[0].dataset]) === 'function'
            a(href="javascript:;", id="#{resultSet[0].id}-link") #{resultSet[0].dataset}
          else
            | #{resultSet[0].dataset}
        td.bullet-container(id="#{resultSet[0].id}-alga")
          svg.statusDot
            circle.none(r="7", cx="7", cy="7")
          svg.bullet
        td.bullet-container(id="#{resultSet[0].id}-sparse")
          svg.statusDot
            circle.none(r="7", cx="7", cy="7")
          svg.bullet
        td.bullet-container(id="#{resultSet[0].id}-ba")
          svg.statusDot
            circle.none(r="7", cx="7", cy="7")
          svg.bullet
        td(id="#{resultSet[0].id}-length")
            if typeof(trajectoryMap[resultSet[0].dataset]) === 'string'
              a(href="#{trajectoryMap[resultSet[0].dataset]}") #{resultSet[0].length.toFixed(2)}
            else if typeof(trajectoryMap[resultSet[0].dataset]) === 'function'
              a(href="javascript:;", id="#{resultSet[0].id}-trajectory-link") #{resultSet[0].length.toFixed(2)}
            else
              | #{resultSet[0].length}
