table.table.table-striped.table-hover.table-bordered
  thead.result-labels
    td Data Set
    td
      abbr(title="Visual-Inertial Odometry") ALGA
    td
      abbr(title="ALGB") SM
    td
      abbr(title="Bundle Adjustment") BA
    td Trajectory Length
  tbody
    each resultSet in resultsByDataset
      tr
        td(id="#{resultSet[0].dataset}-name") #{resultSet[0].dataset}
        each result in resultSet
          td.bullet-container(id="#{result.dataset}-#{result.metric}")
            svg
        td(id="#{resultSet[0].dataset}-length") #{resultSet[0].length}
