.libraryInterface
  img(src=closeIcon, id='closeOverlay')
  h1 Export
  .circleset.exportOptions
    each format in vis.component.serializationFormats
      .circleButton(data-format=format)
        img(src=downloadIcon)
        span= 'Download as ' + format.toUpperCase()
    .circleButton(data-format='html')
      img(src=downloadIcon)
      span Download as HTML
  a.download-anchor
